
  .landing-faq {
    gap: 36px;
    top: 3000px;
    left: 446px;
    width: 1028px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .landing-line3 {
    width: 1028px;
    height: 1px;
    border-color: #4f56e5;
    border-width: 2px;
  }
  .landing-text53 {
    color: rgba(0, 0, 0, 1);
    width: 923px;
    height: auto;
    font-size: 24.77108383178711px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-text55 {
    color: rgba(133, 130, 130, 1);
    width: 291px;
    height: auto;
    font-size: 23.222890853881836px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-line4 {
    width: 1028px;
    height: 1px;
    border-color: #4f56e5;
    border-width: 2px;
  }
  .landing-text57 {
    color: rgba(0, 0, 0, 1);
    width: 947px;
    height: auto;
    font-size: 24.77108383178711px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-text59 {
    color: rgba(133, 130, 130, 1);
    width: 923px;
    height: auto;
    font-size: 23.222890853881836px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-line5 {
    width: 1028px;
    height: 1px;
    border-color: #4f56e5;
    border-width: 2px;
  }
  .landing-text61 {
    color: rgba(0, 0, 0, 1);
    width: 988px;
    height: auto;
    font-size: 24.77108383178711px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-text63 {
    color: rgba(133, 130, 130, 1);
    width: 958px;
    height: auto;
    font-size: 23.222890853881836px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-line6 {
    width: 1028px;
    height: 1px;
    border-color: #4f56e5;
    border-width: 2px;
  }
  .landing-text65 {
    color: rgba(0, 0, 0, 1);
    width: 1028px;
    height: auto;
    font-size: 24.77108383178711px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-text67 {
    color: rgba(133, 130, 130, 1);
    width: 947px;
    height: auto;
    font-size: 23.222890853881836px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 134.0000033378601%;
    font-stretch: normal;
    text-decoration: none;
  }
  .landing-line7 {
    width: 1028px;
    height: 1px;
    border-color: #4f56e5;
    border-width: 2px;
  }

