.quiz-option    {
    display: block;
    width: 450px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
    padding: 10px;
    margin-top: 10px;
}

.quiz-option:hover {
    background-color: rgba(34, 60, 80, 0.1);
}